@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --app-height: 100vh;
}

@supports (height: 100dvh) {
    :root {
        --app-height: 100dvh;
    }
}

html,
body,
#root {
    height: 100%;
    min-height: var(--app-height);
}

body {
    margin: 0;
}

h1, h2, h3, p {
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: Nudely_Regular;
    src: url(/fonts/Nudely_Regular.otf);
}

p {
    font-family: Nudely_Regular;
}
